<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Book List</title>
</head>
<body>
<h1>Book list</h1>

<table>
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
    </tr>
    </thead>

    <tbody>
    {{#books}}
    <tr>
        <td>{{ISBN}}</td>
        <td>{{title}}</td>
    </tr>
    {{/books}}
    </tbody>
</table>
</body>
</html>